
.navbar-container {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 20px;
    z-index: 10;
    .nav-text { 
        margin-top: 10px;
        a {
            color: white;
            text-decoration: none;
            font-size: 3rem;
            font-family: 'Amatic SC', cursive;
        }
    }
}
